{% extends 'base.html' %}
{% block content %}
    <main>


      <section class="cont-main">


        <section id="cont-left">
          <img src="{{ runner.image }}" alt="">
          <h2>{{ runner.first_name}}  {{runner.last_name}}</h2>
          <p class="person-title">{{ runner.birtday }}</p>
          <p class="person-email">{{ runner.category }}</p>
          <p class="person-email">{{ distance }}</p>
        </section>

        <section id="cont-rigth">
          <p>
            metas:
          </p>
          <ul>

          {% for meta in metasuser %}
          <li> {{ meta.meta}}</li>
          {% endfor %}
          </ul>
          <table>
            <tr>
              <th>Company</th>
              <th>Contact</th>
              <th>Country</th>
            </tr>
            {%for time in alltime %}
            <tr>
              <td>{{ time.0 }}</td>
              <td> {{time.1}}</td>
              <td>{{time.2}}</td>
            </tr>
            {% endfor %}
          </table>


        </section>
      </section>

    </main>


    {% endblock %}
