{% extends 'base.html' %}
{% block content %}
    <main>


      <section class="cont-main">


        <section id="cont-left">
          <section class="cont-in-r">
            <img src="{{ runner.image }}" alt="">

            <p class="person-title">{{ runner.birtday }}</p>
            <p class="person-email">{{ runner.category }}</p>
            <p class="person-email">{{ distance }}</p>
          </section>
          <section class="cont-in-r">
            <p class="person-email">Documetos</p>
            <p class="best-time"><a href="http://1.bp.blogspot.com/-F4oPtsJAFvY/UAyplRCTdmI/AAAAAAAAAbo/LKC2QZuLzcA/s1600/1904-nacimiento-carlos-torre-repetto.jpg"> Acta de Nacimiento</a></p>
            <p class="best-time"><a href="http://www.ife.org.mx/archivos1/previo/credencial/v2/image/credencial/cpv2008.png">  Identificacion</a></p>
            <p class="best-time"><a href="http://1.bp.blogspot.com/-a_GA6eyKB0Y/UYP7zxhSNbI/AAAAAAAAEuI/CA_VZdwSeO8/s1600/curp+verde+a+color+en+linea.jpg">  CURP</a></p>
          </section>

        </section>

        <section id="cont-rigth">
          <h1 id="titulo-details">{{ runner.first_name}}  {{runner.last_name}}</h1>
          <p class="best-time"><strong>Best Time 10000mts:</strong> 34:39.30</p>
          <p class="best-time"><strong>Best Time 5000 mts:</strong> 34:39.30</p>


          <section class="cont-in-r">
            <h2 class="tituloh2-details">METAS:</h2>
            <ul>
              {% for meta in metasuser %}
              <li> {{ meta.meta}}</li>
              {% endfor %}
            </ul>
          </section>
          <section class="cont-in-r">
            <h2 class="tituloh2-details">MARCAS:</h2>
            <table>
              <tr>
                <th>Prueba</th>
                <th>Tiempo</th>
                <th>Nombre competencia</th>
                  <th>Fecha</th>
              </tr>
              {%for time in alltime %}
              <tr>
                <td>{{ time.0 }}</td>
                <td> {{time.1}}</td>
                <td>{{time.2}}</td>
                <td>{{time.3}}</td>
              </tr>
              {% endfor %}
            </table>
          </section>

        </section>
      </section>

    </main>


    {% endblock %}
