{% extends 'base.html' %}
{% block content %}
    <main>
      <h1>Directory</h1>
      {% for runner in runners %}
      <section class="cont-user">
        <a href="{% url 'detail' runner.slug %}">
          <img src="{{ runner.image }}" alt="">
        </a>
        <h2>{{ runner.first_name}}  {{runner.last_name}}</h2>
        <p class="person-title">{{ runner.birtday }}</p>
        <p class="person-email">{{ runner.category }}</p>

      </section>
      {% endfor %}
    </main>
{% endblock %}
