{% extends 'baseentrenadores.html' %}
{% block content %}
    <main>
      <p>
        <a href="{% url 'athletes'  user.username %}">Athletes<a/> >>
        <a href="{% url 'detail'  user.username slug %}">{{ slug }}<a/> >>
          nueva metas
      </p>
        <section class="cont-main">

      <ul>

      {% for meta in metasuser %}
      <li> {{ meta.meta}}</li>
      {% endfor %}
      </ul>
      <form class="" action="." method="post">
        {% csrf_token %}
        {{form.as_p}}
        <input type="submit" name="" value="Actualizar">
      </form>
    </section>
    </main>
  {% endblock %}
