body {
  background-color: #e9ebee;
  font-size: 16px;
  padding:0;
  margin: 0;
}
main{
  margin: 0 auto;
  width: 800px;

}
nav{
  background: white;
  border-bottom: 2px solid #dddfe2;
  box-shadow: 1px 1px 10px #888888;
}
.cont-user{
  padding:10px 0 10px 0;
  margin: 0;
  min-width: 250px;
  border-radius: 5px;
  background: white;
  text-align: center;
  display: inline-block;
  margin: 0 0px 10px 9px;
  border: 1px solid #dddfe2;
  border-bottom: 2px solid #dddfe2;
  box-shadow: 1px 1px 10px #888888;
}

.cont-login{
  padding:10px 0 10px 0;

  width: 350px;
  border-radius: 5px;
  background: white;
  text-align: center;

  margin: 30% auto;
  border: 1px solid #dddfe2;
  border-bottom: 2px solid #dddfe2;
  box-shadow: 1px 1px 10px #888888;
}

.imagen-atletas{
  border-radius: 50%;
  box-shadow: 0px 5px 5px #888;
  padding:0;
  margin: 0;
  width: 150px;
  height: 150px;
}
.imagen-atletas:hover {
  box-shadow: 0px 5px 5px #080;
}
h2 {1.7em;
  font-weight: blod;
  padding:0;
  margin: 0;
}
.person-title{
  font-size: 1em;
  color: #aaa;
  padding:0;
  margin: 0;
}

.person-email{
  font-size: 1em;
  padding:0;
  margin: 0;
}
table {
    border-collapse: collapse;
    width: 80%;
    margin: auto;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

tr:hover{background-color:#f5f5f5}

.cont-main{
  width: 800px;
  margin: 0;
  border-radius: 5px;
  background: white;
  display: inline-block;
  margin: 0 10px 10px 0;
  border: 1px solid #dddfe2;
  border-bottom: 2px solid #dddfe2;
  box-shadow: 1px 1px 10px #888888;
}
#cont-left{
  padding:20px 0 10px 10px;
  margin: 0;
  min-width: 25%;
  min-height: 800px;
  background: white;
  text-align: center;
  float:left;
  margin: 0;
  box-shadow: 0;
}
#cont-rigth{
  float:left;
  min-height: 800px;
  min-width: 70%;
  margin-left: 20px;
  margin-top: 20px;
}
#titulo-details{
  font-size: 36px;
  margin: 0px 0px 10px 0px;
  padding: 0px;
}
#titulo-categorias{
  font-size: 20px;
}
.tituloh2-details{
  font-size: 18px;
  color: #aaa;
  font-weight: normal;
  margin-bottom: 10px;
}
.cont-in-r{
  padding-bottom:15px;
  border-bottom: 2px solid #ddd;
  margin-bottom: 15px;
}
ul{
  margin: 5px;
}
li{
  margin-bottom: 5px;
}
.best-time{
  font-size: 12px;
  margin: 0 0 3px 0;
}
#logo{
  width:78px;
  height:58px;
}

/*===== nav style ======*/
#fdw nav select {
	display:none; /* this is just for the mobile display */
}
#fdw nav ul {
  float:right;
	display:block;
	z-index:999999;
}
#fdw nav ul li {
	display:inline-block;
	margin-left:10px;
	position:relative;
}
#fdw nav ul li a:link, #fdw nav ul li a:visited {
  text-decoration: none;
  color:#444;
	font:normal 16px 'Yanone Kaffeesatz', sans-serif;
	text-transform:uppercase;
	display:inline-block;
	position:relative;
}
#fdw nav ul li a:hover, #fdw nav ul li a:active {
	color:#e25d29;
	text-decoration:none;
}
#fdw nav ul li span {
	position:absolute;
	right:-12px;
	bottom:6px;
	width:7px;
	height:8px;
	margin:0 0 0 3px;
	float:right;
	display:block;
	font:0/0 a;
}
#fdw nav ul li.current {
	border-bottom:2px solid #e25d29;
}
#fdw nav ul li.current a {
	color:#e25d29;
	cursor: default;
}
#fdw nav ul li.current a span {
	
}
#fdw nav ul li.current ul li a {
	cursor:pointer;
}

/*===== sub_menu Style =======*/
#fdw nav ul li ul.sub_menu {
	position:absolute;
	top:20px;
	left:0;
	margin:0;
	padding:0;
	background:#fff;
	border:1px solid #ececec;
	border-top:5px solid #e25d29;
	display:none;
	z-index:999999;
    -moz-box-shadow: 0px 6px 7px #121012;
    -webkit-box-shadow: 0px 6px 7px #121012;
    box-shadow: 0px 6px 7px #121012;
}
#fdw nav ul li ul.sub_menu li.arrow_top {
    position:absolute;
    top:-12px;
    left:12px;
    width:13px;
    height:8px;
    display:block;
    border:none;
    background:url('images/arrow_top.png') no-repeat left top;

}


#fdw nav ul li ul.sub_menu li {
	float:none;
	margin:0;
	padding:0;
	border-bottom:1px solid #ececec;
}
#fdw nav ul li ul.sub_menu li a {
	white-space: nowrap;
	width: 150px;
	padding:12px;
	font:13px Arial, tahoma, sans-serif;
	text-transform:capitalize;
	color:#777;
}
#fdw nav ul li ul.sub_menu li a:hover {
	background:#f9f9f9;
	color:#333;
}
#fdw nav ul li ul.sub_menu li a.subCurrent {
	color:#e25d29;
	cursor:default;
}
#
The media queries css will have the following code:
@media only screen and (min-width: 768px) and (max-width: 959px) {
		/* nav */
		#fdw nav ul li{
			margin-left:12px;
		}
}

	/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {

		/* nav menu ul & select */
		#fdw nav ul {
			display:none;
		}
		#fdw nav select {
			width:100%;
			display:block;
			margin-bottom:0;
			cursor:pointer;
			padding:6px;
			background:#f9f9f9;
			border:1px solid #e3e3e3;
			color:#777;
		}
}
